@use "global" as *;

.button {
  display: inline-block;
  width: myrem(202);
  text-align: left;
  position: relative;
  z-index: 1;
  background-color: $green;
  padding-top: myrem(11);
  padding-left: myrem(40);
  padding-bottom: myrem(15);
  border: myrem(1) solid $green;
  transition: background-color .3s;
}

.button span,
.button span .wpcf7-form-control {
  font-size: myrem(14);
  line-height: 1.5714;
  color: $white;
  font-family: $english-font-family;
  font-weight: $regular;
  transition: color .3s;
  position: static;
}

.button::before {
  background: $white;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
  z-index: -1;
}

.button::after {
  content: "";
  position: absolute;
  top: myrem(4);
  left: myrem(4);
  bottom: myrem(-4);
  right: myrem(-4);
  border: myrem(1) solid $green;
  z-index: -2;
}

.button span::after {
  content: "";
  display: inline-block;
  width: myrem(40);
  height: myrem(8);
  border-bottom: myrem(1) solid $white;
  border-right: myrem(1) solid $white;
  position: absolute;
  top: 40%;
  transform: skew(45deg);
  margin-left: myrem(5);
  transition: border .3s;
}

.button:hover span,
.button:hover span .wpcf7-form-control {
  color: $green;
}

.button:hover::before {
  transform: scale(1, 1);
}

.button:hover span::after {
  border-color: $green;
}

.button--form {
  padding-left: myrem(56);
}

.button--reverse {
  background-color: $white;
  border-color: $white;
}

.button--reverse::before {
  background: $green;
}

.button--reverse span {
  color: $green;
}

.button--reverse::after {
  border-color: $white;
}

.button--reverse span::after {
  border-bottom: myrem(1) solid $green;
  border-right: myrem(1) solid $green;
}

.button--reverse:hover span {
  color: $white;
}

.button--reverse:hover span::after {
  border-color: $white;
}