@use "global" as *;

.contact__inner {
  position: relative;
}

.contact__inner::after {
  content: "";
  position: absolute;
  top: myrem(-26);
  right: myrem(14);
  display: inline-block;
  width: myrem(111);
  height: myrem(50);
  z-index: 10;
  background-image: url(../images/common/bg-fish.webp);
  background-repeat: no-repeat;
  background-size: cover;
  @include mq(md) {
    top: myrem(-40);
    right: calc(50% - min(vw(1340, 650), myrem(675)));
    width: myrem(310);
    height: myrem(138);
  }

}