@use "global" as *;

/*デフォルト色の指定*/
$border-cr-default: $green; //デフォルト時のボーダーの色
$border-cr: $green; //inputのhover or focus時の色
$back-cr: $white;//input（テキスト系）の背景色

/*サイズ等の指定*/
$fz: myrem(12);//入力するときのfont-size
$padding-und: myrem(5);//paddingの指定（上下） inputの内側の余白で使う
$padding-lnr: myrem(8);//paddingの指定（左右） inp

/*チェックボックスの指定*/
$check-fz: myrem(16);//フォントサイズ
$check-size: myrem(14);//外枠の幅高さ
$check-bg-cr: $white;//外枠の背景色
$check-border-cr: $green;//外枠の色
$check-bg-cr-inner: #f00;//チェックマークの背景色
$check-space: myrem(8);//チェックマークと文字の距離
$check-space-betweenRadio: myrem(20);//ラジオボタンの間の距離
$check-weight: 2px;//チェックマークの線の太さ(px)

.form__item {
  border-bottom: myrem(1) dotted $green;
  padding-bottom: myrem(24);
  @include mq(md) {
    display: flex;
    justify-content: space-between;
    padding-bottom: myrem(39);
  }
}

.form__item:not(:first-child) {
  margin-top: myrem(26);
  @include mq(md) {
    margin-top: myrem(39);
  }
}

.form__item dt {
  position: relative;
  font-size: myrem(16);
  font-weight: $bold;
  color: $black;
}

.form__item dt::after {
  position: relative;
  top: 50%;
  transform: translateY(-23%);
  content: "必須";
  display: inline-block;
  width: myrem(61);
  height: myrem(21);
  background-color: $red;
  text-align: center;
  margin-left: myrem(4);
  font-size: myrem(12);
  font-weight: $regular;
  letter-spacing: 0.4em;
  text-indent: 0.4em;
  color: $white;
  font-family: $base-font-family;
  @include mq(md) {
    top: 0;
  }
}

.form__item--optional dt::after {
  display: none;
}

.form__item dd {
  width: 100%;
  margin-top: myrem(11);
  @include mq(md) {
    margin-top: 0;
    max-width: myrem(480);
  }
}

.form__select {
  position: relative;
}

.form__select::after {
  content: "";
  position: absolute;
  top: 50%;
  right: myrem(8);
  transform: translateY(-50%);
  display: inline-block;
  width: myrem(10);
  height: calc(myrem(10) / 2 * tan(60deg));
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  background-color: $green;
}

[type="text"],
[type="search"],
[type="tel"],
[type="url"],
[type="email"],
[type="password"],
[type="date"],
textarea {
  padding: myrem(7) myrem(16);
  width: 100%;
  border: myrem(1) solid $green;
  background-color: #fff;
}

.form__check {
  display: flex;
  flex-direction: column;
  gap: myrem(2);
  @include mq(md) {
    gap: myrem(4);
  }
}

[type="checkbox"] {
	display: none;

	+ span {
		display: inline-block;
		position: relative;
		padding: 0 0 0 calc($check-size + $check-space);
		font-size: $check-fz;
		line-height: 1;
		cursor: pointer;
		transition: 0.3s ease;

		&::before {
			position: absolute;
			content: "";
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			background: $check-bg-cr;
			border: 1px solid $check-border-cr;
			width: $check-size;
			height: $check-size;
			display: block;
		}

		&::after {
			opacity: 0;
			transition: 0.3s ease;
		}
	}

	&:checked + span {
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			display: block;
			opacity: 1;
			/*チェックマークじゃない場合は以下を変更する*/
			transform: translateY(-50%) rotate(-45deg);
			width: calc($check-size * 0.6786);
			height: calc($check-size * 0.4);
			margin-top: -0.1em;
			margin-left: 0.1em;
			border-left: $check-weight solid $check-bg-cr-inner;
			border-bottom: $check-weight solid $check-bg-cr-inner;
		}
	}
}

select {
  width: 100%;
	font-size: $fz;
	padding: $padding-und $padding-lnr;
	background-color: $back-cr;
  border: 1px solid $border-cr-default;
	/*↓デフォルトのアイコンを消す場合はコメントアウト（noneにする）*/
	appearance: none;
	/*↓デフォルトではないアイコンを使う場合は入力する*/
	// background-image: url();
	// background-position: right 12px center;
	// background-repeat: no-repeat;
	&:focus {
		border: myrem(1) solid $border-cr;
	}

  &::after {
    content: "";
    display: inline-block;
    width: myrem(10);
    height: calc(myrem(10) / 2 * tan(60deg));
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    background-color: $green;
  }
}

textarea {
	height: myrem(200);
  width: 100%;
  max-width: myrem(480);
}

::placeholder {
  color: $green2;
}

.form__consent {
  margin-top: myrem(35);
  display: flex;
  justify-content: center;
  padding: 0 myrem(33);
  @include mq(md) {
    margin-top: myrem(73);
  }
}

.form__consent span {
  font-size: myrem(14);
  font-weight: $regular;
  line-height: 1.5;
  color: $black;
  padding-left: myrem(35);
}

.form__consent span::before {
  top: -3%;
  transform: translateY(0);
  width: myrem(22);
  height: myrem(22);
  left: myrem(-2);
}

.form__button {
  text-align: center;
  margin-top: myrem(24);
  @include mq(md) {
    margin-top: myrem(40);
  }
}

// error validation
.page-contact__error {
  display: flex;
  justify-content: center;
  margin-bottom: myrem(40);
}

.page-contact__error-text span {
  font-size: myrem(14);
  font-weight: $regular;
  color: $red;
}

.validation-error {
  background-color: rgba($color: $red, $alpha: 0.2);
  border-color: $red;
}

.validation-error::placeholder {
  color: $white;
}
