@use "global" as *;

.hamburger {
  position: relative;
  display: block;
  width: myrem(32);
  height: myrem(24);
}

.hamburger span {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: myrem(1);
  background-color: $white;
  border-radius: myrem(1);
  transition: transform .5s;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  top: myrem(11);
  transition: opacity 0.3s;
}

.hamburger span:nth-child(3) {
  bottom: 0;
}

.hamburger.is-active span:nth-child(1) {
  transform:translateY(9px) rotate(38deg) scale(1.25);
}

.hamburger.is-active span:nth-child(2) {
  opacity: 0;
}

.hamburger.is-active span:nth-child(3) {
  transform:translateY(-11px) rotate(-37deg) scale(1.25);
}
