@use "global" as *;

.mainview {
  position: relative;
  width: 100%;
  height: 100vh;
}

.mainview__slide {
  height: inherit;
}


.mainview__image img {
  height: inherit;
  object-fit: cover;
}

.mainview__box {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  z-index: 10;
}

.mainview__title {
  font-size: myrem(40);
  font-weight: $regular;
  letter-spacing: 0.53em;
  text-indent: 0.53em;
  color: $white;
  line-height: 1;
  font-family: $sub-font-family;
  text-transform: uppercase;
  @include mq(md) {
    font-size: myrem(80);
    line-height: calc(100 / 80);
  }
}

.mainview__subtitle {
  font-size: myrem(20);
  font-weight: $regular;
  font-family: $english-font-family;
  color: $white;
  margin-top: myrem(5);
}

