@use "global" as *;

.page-information__inner {
  position: relative;
}

.page-information__inner::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: myrem(120);
  height: myrem(55);
  z-index: -10;
  top: myrem(-94);
  background-image: url(../images/common/bg-fish2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  @include mq(md) {
    left: calc(50% - min(vw(1290, 620), myrem(620)));
    top: myrem(-70);
    width: myrem(301);
    height: myrem(138);
  }
}

.page-information__cards {
  margin-top: myrem(16);
  @include mq(md) {
    margin-top: myrem(24);
  }
}

.page-information__card {
  display: none;
}

.page-information__card.current {
  display: block;
}