@use "global" as *;

.page-sitemap__inner {
  position: relative;
}

.page-sitemap__inner::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: myrem(120);
  height: myrem(55);
  top: myrem(-12);
  z-index: -10;
  background-image: url(../images/common/bg-fish2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  @include mq(md) {
    display: none;
    top: myrem(-24);
  }
}