@use "global" as *;

.page-about__inner {
  position: relative;
}

.page-about__inner::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: myrem(120);
  height: myrem(55);
  z-index: 10;
  top: myrem(-24);
  background-image: url(../images/common/bg-fish2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  @include mq(md) {
    z-index: -10;
    left: calc(50% - min(vw(1240, 595), myrem(620)));
    top: myrem(-70);
    width: myrem(301);
    height: myrem(138);
  }
}


.page-about__container {
  position: relative;
  margin-top: myrem(26);
  @include mq(md) {
    margin-top: myrem(40);
  }
}

.page-about__images {
  display: flex;
}

.page-about__thin-image {
  width: calc(100% * calc(128 / 345));
  aspect-ratio: 128 / 194;
  z-index: 10;
}

.page-about__thin-image img {
  width: 100%;
  object-fit: cover;
}

.page-about__wide-image {
  width: 100%;
  aspect-ratio: 281 / 186;
  @include mq(md) {
    width: calc(100% * calc(281 / 345));
    margin-left: calc(-100% * calc(64 / 345));
    margin-top: calc(100% * calc(26 / 345));
  }
}

.page-about__wide-image img {
  width: 100%;
  object-fit: cover;
}

.page-about__body {
  width: 100%;
  margin-top: myrem(40);
  @include mq(md) {
    display: flex;
    gap: myrem(40);
    align-items: flex-end;
    max-width: myrem(840);
    position: absolute;
    z-index: 50;
    top: calc(100% * calc(200 / 661));
    right: calc(100% * calc(41 / 1080));
    margin-top: 0;
  }
}

.page-about__heading {
  font-size: myrem(40);
  font-weight: $regular;
  line-height: 1;
  font-family: $english-font-family;
  color: $green;
  display: inline-block;
  position: absolute;
  top: myrem(24);
  left: myrem(24);
  color: $white;
  @include mq(md) {
    position: static;
    font-size: myrem(80);
    line-height: calc(100 / 80);
    color: $white;
    width: 100%;
    max-width: calc(calc(100% - myrem(40)) / 2);
  }
}

.page-about__box {
  width: 100%;
  @include mq(md) {
    max-width: calc(calc(100% - myrem(40)) / 2);
  }
}

.page-about__text.text {
  @include mq(md) {
    color: $white;
  }
}

.page-about__button {
  margin-top: myrem(27);
  margin-right: myrem(18);
  display: flex;
  align-items: center;
  justify-content: center;
  @include mq(md) {
    margin-top: myrem(40);
    margin-right: myrem(2);
  }
}
