@use "global" as *;

.panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: myrem(2) myrem(2) myrem(10) rgba($color: #000000, $alpha: 0.25);
}

.panel__link:hover {
  opacity: .8;
}

.panel__image img {
  aspect-ratio: 280 / 188;
  width: 100%;
  height: 100%;
  object-fit: cover;
  @include mq(md) {
    aspect-ratio: 333 / 223;
  }
}

.panel__body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: myrem(16) myrem(16) myrem(24);
  @include mq(md) {
    padding: myrem(24) myrem(16) myrem(40);
  }
}

.panel__body--narrow {
  padding: myrem(16) myrem(23) myrem(24);
  @include mq(md) {
    padding: myrem(16) myrem(16) myrem(24);
  }
}

.panel__title {
  margin-top: myrem(4);
  padding-bottom: myrem(7);
  font-size: myrem(16);
  font-weight: $medium;
  line-height: 1.5;
  color: $black;
  border-bottom: myrem(1) solid $green;
}

.panel__title--large {
  @include mq(md) {
    font-size: myrem(24);
  }
}

.panel__title--center {
  text-align: center;
}

.panel__box {
  display: flex;
  flex-direction: column;
  // justify-content: flex-end;
  // flex: 1;
  margin-top: myrem(8);
  @include mq(md) {
    // margin-top: myrem(16);
    // padding: 0 myrem(19);
    margin: myrem(16) auto 0;
  }
}

.panel__sub-title {
  text-align: center;
  font-size: myrem(14);
  font-weight: $regular;
  line-height: calc(24 / 14);
  color: $black;
  @include mq(md) {
    text-align: left;
    font-size: myrem(16);
    line-height: calc(24 / 16);
    padding-left: myrem(37);
  }
}

.panel__price-box {
  display: flex;
  gap: myrem(18);
  align-items: flex-end;
  justify-content: center;
  margin-top: myrem(8);
  @include mq(md) {
    gap: myrem(24);
    justify-content: start;
    margin-top: myrem(10);
  }
}

.panel__price {
  position: relative;
  font-size: myrem(20);
  font-weight: $bold;
  font-family: $sub-font-family;
  line-height: 1.2;
  color: $black;
  @include mq(md) {
    font-size: myrem(24);
  }
}

.panel__price::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: myrem(3);
  background-color: $red;
}

.panel__price--small {
  @include mq(md) {
    font-size: myrem(20);
  }
}

.panel__discount {
  font-size: myrem(32);
  font-weight: $bold;
  line-height: 1;
  color: $green;
  font-family: $sub-font-family;
  @include mq(md) {
    font-size: myrem(40);
  }
}

.panel__discount--small {
  @include mq(md) {
    font-size: myrem(32);
  }
}

.panel__detail {
  display: none;
  margin-top: myrem(24);
  @include mq(md) {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: myrem(29);
  }
}

.panel__button {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  margin-top: myrem(34);
  @include mq(md) {
    margin-top: myrem(33);
  }
}

.panel__date {
  font-size: myrem(16);
  font-weight: $bold;
  line-height: calc(18 / 16);
  letter-spacing: 0.03em;
  font-family: $sub-font-family;
  color: $green;
  text-align: center;
}

.panel__lead {
  font-size: myrem(14);
  font-weight: $regular;
  line-height: calc(18 / 14);
  color: $green;
  margin-top: myrem(7);
}

.panel__link {
  margin-top: myrem(16);
}