@use "global" as *;

.price-list__title {
  font-size: myrem(16);
  font-weight: $bold;
  line-height: 1.5;
  color: $black;
  padding-bottom: myrem(4.4);
  border-bottom: myrem(1) solid $green;
}

.price-list__items {
  margin-top: myrem(8);
}

.price-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-list__item:not(:first-child) {
  margin-top: myrem(8);
}

.price-list__item-title {
  font-size: myrem(14);
  font-weight: $regular;
  line-height: calc(24 / 14);
  color: $black;
  @include mq(md) {
    font-size: myrem(16);
    line-height: 1.5;
  }
}

.price-list__price {
  font-size: myrem(14);
  font-weight: $regular;
  margin-left: myrem(16);
  color: $black;
  @include mq(md) {
    font-size: myrem(16);
    letter-spacing: 0.02em;
  }
}

