@use "global" as *;

.sub-blog__inner {
  position: relative;
}

.sub-blog__inner::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: myrem(120);
  height: myrem(55);
  z-index: 10;
  top: myrem(-24);
  background-image: url(../images/common/bg-fish2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  @include mq(md) {
    z-index: -10;
    left: calc(50% - min(vw(1240, 595), myrem(620)));
    top: myrem(-70);
    width: myrem(301);
    height: myrem(138);
  }
}

.sub-blog__date {
  font-size: myrem(24);
  font-weight: $regular;
  letter-spacing: 0.05em;
  color: $black;
}

.sub-blog__body {
  @include mq(md) {
    display: flex;
    gap: myrem(80);
  }
}

.sub-blog__body--archive {
  margin-top: myrem(20);
}