@use "global" as *;

.sub-blog__inner {
  position: relative;
}

.sub-blog__inner::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: myrem(120);
  height: myrem(55);
  z-index: 10;
  top: myrem(-24);
  background-image: url(../images/common/bg-fish2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  @include mq(md) {
    z-index: -10;
    left: calc(50% - min(vw(1240, 595), myrem(620)));
    top: myrem(-70);
    width: myrem(301);
    height: myrem(138);
  }
}

.sub-blog__body {
  @include mq(md) {
    display: flex;
    gap: myrem(80);
  }
}

.sub-blog__main {
  @include mq(md) {
    width: 65.37%;
  }
}

.sub-blog__cards.cards {
  @include mq(md) {
    grid-template-columns: repeat(2,1fr);
    gap: myrem(79) myrem(40);
  }
}

.sub-blog__sidebar {
  margin-top: myrem(80);
  @include mq(md) {
    margin-top: 0;
    width: 27.22%;
  }
}

.sub-blog__pagenavi {
  margin-top: myrem(80);
}