@use "global" as *;

.tab__inner {
  display: flex;
  justify-content: center;
  @include mq(md) {
    justify-content: start;
  }
}

.tab__items {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: myrem(18);
  @include mq(md) {
    flex-direction: row;
    justify-content: start;
    gap: myrem(32);
  }
}

.tab__box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: myrem(21);
  @include mq(md) {
    justify-content: start;
    grid-template-columns: repeat(4, 1fr);
    gap: myrem(32);
  }
}

.tab__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: myrem(162);
  height: myrem(32);
  cursor: pointer;
}

.tab__item>a {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: myrem(14);
  font-weight: $regular;
  line-height: 1.5;
  border: myrem(1) solid $green;
  color: $green;
  background-color: $white;
  padding-top: myrem(6);
  padding-bottom: myrem(6);
  transition: color .3s, background-color .3s;
}

.tab__item--large>a {
  text-transform: uppercase;
}

.tab__item>a.is-active {
  background-color: $green;
  color: $white;
}

.tab__item:hover>a {
  background-color: $green;
  color: $white;
}