@use "global" as *;

.voice__inner {
  position: relative;
}

.voice__inner::before,
.voice__inner::after {
  @include mq(md) {
    content: "";
    position: absolute;
    z-index: 10;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.voice__inner::before {
  top: myrem(-120);
  left: calc(50% - min(vw(1260, 595), myrem(620)));
  width: myrem(301);
  height: myrem(138);
  background-image: url(../images/common/bg-fish2.webp);
}

.voice__inner::after {
  bottom: myrem(-71);
  right: myrem(25);
  width: myrem(71);
  height: myrem(162);
  background-image: url(../images/common/bg-fish22.webp);
}

.voice__cards {
  margin-top: myrem(42);
  @include mq(md) {
    margin-top: myrem(30);
  }
}

.voice__button {
  text-align: center;
  margin-top: myrem(40);
  @include mq(md) {
    margin-top: myrem(80);
  }
}