@use "global" as *;

.wp-pagenavi {
  display: flex;
  justify-content: center;
  gap: myrem(12);
}
.wp-pagenavi a, .wp-pagenavi span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: myrem(38);
  height: myrem(38);
  border: myrem(1) solid $green;
  color: $green;
  transition: color .3s, background-color .3s;
}

.wp-pagenavi a:hover{
	color: $white;
	background-color: $green;
}

.wp-pagenavi span.current{
	color: $white;
	background-color: $green;
}

.wp-pagenavi a.u-desktop {
  display: none;
  @include mq(md) {
    display: inline-flex;
  }
}

.previouspostslink {
  position: relative;
  margin-right: myrem(28);
}

.previouspostslink::before {
  border-left: myrem(1) solid $green;
  border-top: myrem(1) solid $green;
  bottom: 0;
  content: "";
  height: myrem(10);
  margin: auto;
  position: absolute;
  left: 45%;
  top: 0;
  transform: rotate(-45deg);
  width: myrem(10);
}

.nextpostslink {
  position: relative;
  margin-left: myrem(28);
}

.nextpostslink::before {
  border-right: myrem(1) solid $green;
  border-top: myrem(1) solid $green;
  bottom: 0;
  content: "";
  height: myrem(10);
  margin: auto;
  position: absolute;
  right: 45%;
  top: 0;
  transform: rotate(45deg);
  width: myrem(10);
}

.wp-pagenavi.wp-pagenavi--arrow {
  gap: myrem(82);
}

.previouspostslink:hover::before,
.nextpostslink:hover::before {
  border-color: $white;
}

// .wp-pagenavi--arrow .previouspostslink,
// .wp-pagenavi--arrow .nextpostslink {
//   position: relative;
//   margin: 0;
// }

// .wp-pagenavi--arrow .previouspostslink::before,
// .wp-pagenavi--arrow .nextpostslink::before {
//   content: "";
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   width: myrem(11.3);
//   height: myrem(11.3);
//   border-bottom: myrem(1) solid $green;
// }

// .wp-pagenavi--arrow .previouspostslink::before {
//   border-left: myrem(1) solid $green;
//   transform: translate(-25%, -50%) rotate(45deg);
// }

// .wp-pagenavi--arrow .nextpostslink::before {
//   border-right: myrem(1) solid $green;
//   transform: translate(-75%, -50%) rotate(-45deg);
// }

// .wp-pagenavi--arrow .previouspostslink:hover::before,
// .wp-pagenavi--arrow .nextpostslink:hover::before {
//   border-color: $white;
// }